$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

//bower:css
@import "bower_components/bootstrap-material-design/dist/css/material-fullpalette";
@import "bower_components/bootstrap-material-design/dist/css/material";
@import "bower_components/bootstrap-material-design/dist/css/ripples";
@import "bower_components/bootstrap-material-design/dist/css/roboto";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.dropdown-menu {
    color: black;
    .charger-heading {
      color: rgba(255, 255, 255, 0.84);
      background-color: #009688;
    }
    .fav {
      display: none;
    }
  }

body {
  height: 100%;
  margin: 0;
  padding: 0;

  .container {
    margin-top: 15%;

    .locations {
      overflow-y: scroll;

      .charger-heading {
        display: flex;
        justify-content: space-between;
        align-content: center;

        .fav:before {
          color: rgb(214, 28, 206);
        }
      }

      .charger-info {
        display: flex;
        justify-content: space-between;
        align-content: center;
      }
    }


  }
}

.navbar-fixed-top {
  margin-top: 10px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.welcome-img {
  position: static;
  height: 100vh;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  background-image: url("https://source.unsplash.com/category/nature/1920x1200");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 20px;
}

.search-form {
  display: none;

  #distance-label {
    margin-top: 4px;
  }

  #findChargers {
    margin-top: 14px;
    margin-bottom: 0;
  }
}

#map {
  display: none;
  margin-left: 15px;
  margin-right: 15px;
  width: 50vw;
  // height: 100%;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

@media screen and (max-width: 1060px) {
  #map {
    width: 35vw;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@media (max-width: 960px) {
  .welcome-img {
    background-image: url("https://source.unsplash.com/category/nature/960x600");
  }
  #map {
    order: -1;
    margin: 15px;
    width: 400px;
    height: 400px;
  }
  .dropdown-menu {
    .charger-info {
      background-color: rgb(255, 255, 255);
    }
  }
}
